apiVersion: v1
kind: Secret
metadata:
  name: kafka-creds
  namespace: kafka-cluster
type: Opaque
stringData:
  credentials: |
    {
      "brokers": [
        "b-1.mycluster.abcdef.c1.kafka.us-east-1.amazonaws.com:9098",
        "b-2.mycluster.abcdef.c1.kafka.us-east-1.amazonaws.com:9098",
        "b-3.mycluster.abcdef.c1.kafka.us-east-1.amazonaws.com:9098"
      ],
      "sasl": {
        "mechanism": "aws-msk-iam"
      },
      "tls": {
        "insecureSkipVerify": false
      }
    }
